bidict==0.21.2
certifi==2021.10.8
cffi==1.14.6
click==8.0.3
cryptography==35.0.0
dnspython==1.16.0
eventlet==0.30.2
Flask==2.0.2
Flask-SocketIO==5.1.0
greenlet==1.1.1
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.2
MarkupSafe==2.0.1
pip==21.2.2
pycparser==2.21
pyOpenSSL==21.0.0
python-engineio==4.1.0
python-socketio==5.3.0
setuptools==58.0.4
six==1.16.0
Werkzeug==2.0.2
wheel==0.37.0
